
.snackbar-positioner {
    display: flex;
    flex-direction: row-reverse;
}

.snackbar {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: gray;
  background-color: blue;
  padding: 8px;
  margin-bottom: 1px;
    border-radius: 9px;

  animation: fadeIn 3s;

  animation-fill-mode: forwards;

      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
      box-sizing: border-box;
      color: white;
          opacity: 0;
          right: 20px;
  }

    .snackbar_gone {
      animation: fadeOut 1.5s;
      animation-fill-mode: forwards;
    }

    .snackbar_img {
      width: 25px;
      height: 25px;
    }

    .snackbar_message {
      font-size: 14px;
      line-height: 1.2;
    }

    .snackbar_close {
      height: 25px;
      cursor: pointer;
    }

    @keyframes fadeOut {
      0% {
        opacity: 0.65;
        transform: translateX(-20px);
      }
      40% {
        opacity: 0.5;
        transform: translateX(-20px);
      }
      100% {
        opacity: 0;
        transform: translateX(500px);
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateX(500px);
      }

      100% {
        opacity: 0.65;
        transform: translateX(-20px);
      }
    }